@use 'variables' as *;

body {
  overflow: hidden;
  user-select: none;
  color: $blue;
  font-family: 'Source Code Pro', monospace;
}

input, input:focus {
  font-size: 15px;
  padding: 3px;
  border: none;
  outline: none;

  &::placeholder {
    color: $light-blue;
  }
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
  background-color: $light-blue;
  border-radius: 10px;
}
