@use '../../../variables';

.videos-content {
  background: variables.$main-background;
  padding: 10px;
  height: 92vh;
  overflow: auto;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-evenly;

  .video video {
    width: 360px;
    height: 240px;
    border-radius: 5px;
  }
}
